{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock["Symbol"] }}</td>
                    <td>{{ stock["Stock"] }}</td>
                    <td>{{ stock["totalshares"] }}</td>
                    <td>{{ stock["Price"] }}</td>
                    <td>{{ stock["Total"] }}</td>
                    <td>{{ stock["type"] }}</td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}